<h1>GoJS / Angular - Components Sample</h1>

<!--Palette-->
<div class="left">
  Palette
  <gojs-palette #myPalette 
    [initPalette]='initPalette' 
    [divClassName]='paletteDivClassName' 
    [nodeDataArray]='paletteNodeData'
    [linkDataArray]='paletteLinkData' 
    [modelData]='paletteModelData' 
    (modelChange)='paletteModelChange($event)' 
    [skipsPaletteUpdate]='skipsPaletteUpdate'>
  </gojs-palette>
</div>

<!--canvas-->
<div class="left">
  Diagram
  <gojs-diagram #myDiagram 
    [initDiagram]='initDiagram' 
    [nodeDataArray]='diagramNodeData'
    [linkDataArray]='diagramLinkData'
    [divClassName]='diagramDivClassName' 
    [modelData]='diagramModelData' 
    [skipsDiagramUpdate]='skipsDiagramUpdate'
    (modelChange)='diagramModelChange($event)'>
  </gojs-diagram>
</div>

<!--Overview-->
<div class="left">
  Overview
  <gojs-overview #myOverview 
    [initOverview]='initOverview' 
    [divClassName]='oDivClassName' 
    [observedDiagram]='observedDiagram'>
  </gojs-overview>
</div>

<!--inspector-->
<div class="left">
  <app-inspector 
    [selectedNode]='selectedNode' 
    (onFormChange)='handleInspectorChange($event)'>
  </app-inspector>
</div>
